<div class="col-sm-12">
	<div *ngFor="let light of lights">
		<div class="col-sm-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					{{light.name}}
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<label>Id:</label>
						</div>
						<div class="col-sm-8">
							{{light.id}}
						</div>
					</div>
					<div class="col-sm-12">
						<div class="col-sm-4">
							<label>On:</label>
						</div>
						<div class="col-sm-8">
							<label class="switch">
								<input type="checkbox" [(ngModel)]="light.state.on" (ngModelChange)="updateStatus(light.id)" />
								<div class="slider"></div>
							</label>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="button" class="btn btn-default" (click)="partyTime(light.id)">Party</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>